body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	color: #222222;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

/*Superinfo*/

.superinfo-bg {
	background: #0e7c7b;
	color: white;
}

.superinfo {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px 0;
}

.superinfo p, .superinfo a{
	margin: 0 10px 10px 10px;
}

.superinfo a {
	color: white;
}

/*Menu*/

.menu-bg {
	background: #2980b9;
}

.menu {
	max-width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.menu a {
	color: white;
}

.menu-logo a {
	font-size: 2.25em;
	font-weight: bold;
	margin: 0 10px;
}

.menu-nav ul {
	display: flex;
	flex-wrap: wrap;
}

.menu-nav a {
	font-size: 1.25em;
	display: block;
	padding: 10px;
}

.menu-nav a:hover {
	color: #ffffff;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/*Introdução*/

.introducao {
	font-size: 3em;
	line-height: 1;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 10px;
}

/*Sobre*/

.sobre {
	border-top: 2px solid #2980b9;
	border-bottom: 2px solid #2980b9;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
}

.sobre-info {
	flex: 2 1 300px;
	margin: 0 10px;
	order: 1;
}

.sobre-info h1 {
	font-size: 3em;
	margin-bottom: .5em;
}

.sobre-info p {
	font-size: 1.0em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: #7c7c7c;
}

.sobre-img {
	flex: 1 1 300px;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	order: 2;
}

/*Produtos*/

.produtos {
	max-width: 960px;
	margin: 60px auto;
}

.produtos h1 {
	font-size: 3em;
	margin: 0 10px 60px 10px
}

.produtos-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.produtos-item {
	flex: 1 1 250px;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.produtos-item h2 {
	font-size: 1.5em;
	color: #a4a4a4;
	background: #f7f7f7;
	padding: 40px 20px;
	text-align: center;
}

.produtos-item img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.produtos-item .em-breve {
	height: 250px;
	background: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.produtos-item .em-breve p {
	font-size: 2em;
	color: #a4a4a4;
	font-weight: bold;
}

.btn-comprar {
	display: block;
	background: #2980b9;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	transition: background 0.3s;
}

.btn-comprar:hover {
	background: #0e7c7b;
}

.btn-comprar.disabled {
	background: #cccccc;
	cursor: not-allowed;
}

.btn-comprar.disabled:hover {
	background: #cccccc;
}

.azul-belize {
	border-top: 8px solid #2980b9;
}

.verde-azulado-escuro {
	border-top: 8px solid #0e7c7b;
}

.verde-turqueza {
	border-top: 8px solid #16a085;
}

/*Planos*/

.planos {
	background: #f7f7f7;
	padding: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.planos-item {
	flex: 1 1 260px;
	border: 4px solid white;
	padding: 20px;
	margin: 10px;
}

.planos-item h2 {
	font-size: 3em;
	color: #a4a4a4;
	text-align: center;
	margin-top: 20px;
}

.planos-item span {
	max-width: 300px;
	margin: 20px auto;
	display: block;
	font-size: 3em;
	text-align: center;
	font-weight: bold;
	padding: 10px 0 5px 0;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
}

.planos-item sup {
	font-size: 1.5rem;
}

.planos-item ul {
	max-width: 300px;
	margin: 20px auto;
	font-size: 1.25em;
	font-style: italic;
	color: #7c7c7c;
}

.planos-item li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.planos-item li::after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	background: #2980b9;
	border-radius: 50%;
}

.planos-item a {
	max-width: 300px;
	display: block;
	margin: 20px auto;
	border: 4px solid;
	color: #222222;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.25em;
	padding: 15px 0;
	text-align: center;
	transition: all 0.3s;
}

.planos-item a:hover {
	background: #2980b9;
	color: white;
	border-color: #2980b9;
}

@media (max-width: 800px) {
	.planos {
		padding-left: 10px;
		padding-right: 10px;
	}
	.planos .planos-item:nth-child(3) {
		order: -2;
	}
	.planos .planos-item:nth-child(2) {
		order: -1;
	}
}

/*Benefícios*/

.beneficios {
	max-width: 960px;
	margin: 60px auto;
	display: flex;
	flex-wrap: wrap;
}

.beneficios-item {
	flex: 1 1 300px;
	margin: 20px 10px;
}

.beneficios-item h2 {
	font-size: 2.25em;
	color: #a4a4a4;
	margin-bottom: 20px;
}

.beneficios-item h2::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 30px;
	margin-right: 10px;
}

.beneficios-item:nth-of-type(3n+1) h2::before {
	background: #2980b9;
}

.beneficios-item:nth-of-type(3n+2) h2::before {
	background: #0e7c7b;
}

.beneficios-item:nth-of-type(3n+3) h2::before {
	background: #16a085;
}

.beneficios-item p {
	font-size: 1.25em;
	line-height: 1.4;
	color: #7c7c7c;
}

/*Newsletter*/

.newsletter {
	background: #f7f7f7;
	padding: 60px calc((100% - 960px) / 2 );
	display: flex;
	flex-wrap: wrap;
}

.newsletter-info {
	flex: 1 1 240px;
	margin: 0 10px;
}

.newsletter-info h1 {
	font-size: 3em;
	color: #a4a4a4;
}

.newsletter-info p {
	font-size: 1.25em;
	font-style: italic;
	max-width: 230px;
	color: #7c7c7c;
	margin-bottom: 10px;
}

.newsletter-form {
	flex: 2 1 260px;
	margin: 0 10px;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
}

.newsletter-form input {
	flex: 3 1 260px;
	font-size: 1.25em;
	color: #7c7c7c;
	font-style: italic;
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	border: 4px solid #2980b9;
	background: transparent;
	padding: 15px 10px;
	margin: 0px;
	border-radius: 0px;
}

.newsletter-form button {
	flex: 1 1 260px;
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-size: 2.25em;
	font-weight: bold;
	text-transform: uppercase;
	background: #2980b9;
	color: white;
	margin: 0px;
	cursor: pointer;
	border: 0px;
	padding: 15px 10px;
	transition: background 0.3s;
}

.newsletter-form button:hover {
	background: #0e7c7b;
}

@media (max-width: 600px) {
	.newsletter-form button {
		font-size: 1.5em;
	}
}

/*Footer*/

.footer {
	display: flex;
	background: #2980b9;
	height: 200px;
	align-items: center;
}

.footer p {
	flex: 1;
	text-align: center;
	font-size: 2.25em;
	font-weight: bold;
	color: #ffffff;
}