body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f7eebe;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    flex: 1;
    min-width: 250px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #2c70ff !important;
}

.footer {
    background-color: #2c70ff !important;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-card {
    width: 75%;
    max-width: 400px;
    margin: 0 auto;
}

.hero-image {
    width: 100%;
    height: calc(100vh - 56px - 60px);
    object-fit: cover;
    display: block;
}