body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #ffffff
}

.content {
    flex: 1;
    min-width: 250px;
}

.navbar {
    background-color: #2c70ff !important;
}

.footer {
    background-color: #2c70ff !important;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.login-card {
    width: 75%;
    max-width: 400px;
    margin: 0 auto;
}

.hero-image {
    width: 100%;
    height: calc(100vh - 56px - 60px);
    object-fit: cover;
}