/* Configurações Gerais */

body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	color: #2e2e2e;
	background: white
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

/*Superinfo*/

.superinfo-bg {
	background: #ffa500;
	color: white;
}

.superinfo {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px;
	align-items: center;
}

.superinfo-horario, 
.superinfo-contato, 
.superinfo-endereco 
{
	margin: 0 10px 10px 10px;
	text-align: left;
	display: flex;
	align-items: center;
}

.superinfo-contato {
	flex-direction: column;
	gap: 5px;
}

.superinfo a {
	color: white;
	display: block;
}

.superinfo i {
	margin-right: 5px;
}

/*Menu*/

.menu-bg {
	background: #2c70ff;
}

.menu {
	max-width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.menu a {
	color: #fff;
}

.menu-logo img {
    height: 60px;
    width: auto;
}

.menu-nav ul {
	display: flex;
	flex-wrap: wrap;
}

.menu-nav a {
	font-size: 1.25em;
	display: block;
	padding: 10px;
}

.menu-nav a:hover{
	color: #ffd700;
	text-shadow: 0px 0px 10px #ffd700;
	transition: all .3s;
}

/*Introdução*/

.introducao {
	font-size: 2em;
	color: #2e2e2e;
	line-height: 1;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 10px;
	text-align: left;
	text-shadow: 0px 0px 10px #a3b1cf;
}

/*Sobre*/

.sobre {
	border-top: 2px solid #2c70ff;
	border-bottom: 2px solid #2c70ff;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.sobre-info {
	flex: 2 1 300px;
	margin: 0 10px;
}

.sobre-info h1 {
	font-size: 3.5em;
	margin-bottom: .5em;
}

.sobre-info p {
	font-size: 1.5em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: #7c7c7c;
}

.sobre-img {
	margin: 0 10px;
}

.sobre-img-container {
    flex: 1 1 160px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3.5em;
}

/*Produtos*/

.produtos {
	max-width: 960px;
	margin: 60px auto;
}

.produtos h1 {
	font-size: 3em;
	margin: 0 10px 60px 10px;
	text-align: left;
}

.produtos-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.produtos-item {
	flex: 1 1 175px;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.produtos-item h2 {
	font-size: 1.5em;
	color: #a4a4a4;
	background: #f7f7f7;
	padding: 60px 20px;
	text-align: center;
	min-height: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blue {
	border-top: 8px solid #122ab2;
}

.orange {
	border-top: 8px solid #ffa500;
}

.yellow {
	border-top: 8px solid #ffd700;
}

/*Planos*/

.planos {
	background: #f7f7f7;
	padding: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.planos-item {
	flex: 1 1 260px;
	border: 4px solid white;
	padding: 20px;
	margin: 10px;
	position: relative;
}

.planos-item h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3em;
	margin-top: 20px;
}

.planos-item:nth-child(1) h2 {
	color: #cd7f32; /* Bronze */
}

.planos-item:nth-child(2) h2 {
	color: #c0c0c0; /* Prata */
}

.planos-item:nth-child(3) h2 {
	color: #dea900; /* Ouro */
}

.medalha {
	width: 1em;
	height: 1.25em;
	margin-right: 10px;
	vertical-align: middle;
	display: inline-block;
}

.planos-item span {
	max-width: 300px;
	margin: 20px auto;
	display: block;
	font-size: 3em;
	text-align: center;
	font-weight: bold;
	padding: 10px 0 5px 0;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
}

.planos-item sup {
	font-size: 1.5rem;
}

.planos-item ul {
	max-width: 300px;
	margin: 20px auto;
	font-size: 1.25em;
	font-style: italic;
	color: #7c7c7c;
}

.planos-item li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.planos-item li::after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	background: #2980b9;
	border-radius: 50%;
}

.planos-item a {
	max-width: 300px;
	display: block;
	margin: 20px auto;
	border: 4px solid;
	color: #222222;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.25em;
	padding: 15px 0;
	text-align: center;
	transition: all 0.3s;
}

@media (max-width: 768px) {
	.planos {
		padding-left: 10px;
		padding-right: 10px;
	}
	.planos .planos-item:nth-child(3) {
		order: -2;
	}
	.planos .planos-item:nth-child(2) {
		order: -1;
	}
}

/*Benefícios*/

.beneficios {
	max-width: 960px;
	margin: 60px auto;
	display: flex;
	flex-wrap: wrap;
}

.beneficios-item {
	flex: 1 1 300px;
	margin: 20px 10px;
}

.beneficios-item h2 {
	font-size: 2.25em;
	color: #a4a4a4;
	margin-bottom: 20px;
}

.beneficios-item h2::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 30px;
	margin-right: 10px;
}

.beneficios-item:nth-of-type(3n+1) h2::before {
	background: #122ab2;
}

.beneficios-item:nth-of-type(3n+2) h2::before {
	background: #ffa500;
}

.beneficios-item:nth-of-type(3n+3) h2::before {
	background: #ffd700;
}

.beneficios-item p {
	font-size: 1.25em;
	line-height: 1.4;
	color: #7c7c7c;
}

/*Newsletter*/

.newsletter {
	background: #f7f7f7;
	padding: 60px calc((100% - 960px) / 2 );
	display: flex;
	flex-wrap: wrap;
}

.newsletter-info {
	flex: 1 1 240px;
	margin: 0 10px;
}

.newsletter-info h1 {
	font-size: 3em;
	color: #a4a4a4;
}

.newsletter-info p {
	font-size: 1.25em;
	font-style: italic;
	max-width: 230px;
	color: #7c7c7c;
	margin-bottom: 10px;
}

.newsletter-form {
	flex: 2 1 260px;
	margin: 0 10px;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
}

.newsletter-form input {
	flex: 3 1 260px;
	font-size: 1.25em;
	color: #7c7c7c;
	font-style: italic;
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	border: 4px solid #2c70ff;
	background: transparent;
	padding: 15px 10px;
	margin: 0px;
	border-radius: 0px;
}

.newsletter-form button {
	flex: 1 1 260px;
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-size: 2.25em;
	font-weight: bold;
	text-transform: uppercase;
	background: #2c70ff;
	color: white;
	margin: 0px;
	cursor: pointer;
	border: 0px;
	padding: 15px 10px;
}

@media (max-width: 600px) {
	.newsletter-form button {
		font-size: 1.5em;
	}
}

/*Footer*/

.footer {
	display: flex;
	background: #2c70ff;
	height: 200px;
	align-items: center;
}

.footer p {
	flex: 1;
	text-align: center;
	font-size: 2.25em;
	color: #122ab2;
}